* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  
  background: linear-gradient(to right, #ddd6f3, #faaca8); 
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(160, 211, 224);
}
.snare-pad {
  background: rgb(224, 160, 208);
}
.hihat-pad {
  background: rgba(255, 145, 0, 0.514);
}
.kick-pad.active {
  background: rgb(59, 197, 231);
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.hihat-pad.active {
  background: rgb(255, 115, 0);
}
 
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active{
  background: rgba(128, 128, 128, 0.486);
}

.tempo{
  margin: 3rem;
  width: 30%;

}

.tempo-slider{
  font-family: 'Inter', sans-serif;
  padding: 0.2rem;
    -webkit-appearance:none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(88,88,88);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p{
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
margin: 2rem;
text-align: center;
}


@keyframes playTrack{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}